@charset "ISO-8859-1";

/* mainly used for userlogin.jsp and userregister.jsp */

body {
	background-color: #3269a8;
}

.content {
	margin: auto;
	width: 700px;
	background-color: #cccccc;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 5px #000000; /* right, down, blur, size, colour*/
}

#page_title {
	text-align: left;
	text-decoration: underline;
	padding-left: 20px;
	padding-top: 20px;
	margin-bottom: 0; /* so it's closer to the bottom with the table*/
}

#formSection {
	/*width: 400px;*/
}

.form_table{
	/*
	width: 100%;
	padding-left: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	*/
	display: block; /* allows for resize of individual columns */
	margin: auto;
}

.form_table, tr, td {
	/*border: 1px solid;*/
}

.form_table .column1 { /* the text on the left */
	text-align: right;
	width: 100px;
	font-weight: bold;
}

.form_table .column2 { /* the input boxes */
	width: 150px;
}

.form_table .column3 { /* error message area */
	color: red;
	width: 400px;
	font-weight: bold;
	text-shadow: 1px 1px #000000;
}

.inputBox {
	width: 90%;
}

.submitButton {
	/*display: block;*/
	display: inline-block;
	background-color: #29ba50;
	border: none;
	color: white;
	padding: 12px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	margin: 10px;
	border-radius: 3px;
}
